openapi: 3.0.3
info:
  title: CreoBank API
  version: "2.1.0"
  description: >
    CreoBank's API for transactional funding partner program provides endpoints for GCs to obtain funding for government contracts solicited through UnisonGlobal Marketplace and other channels.
  contact:
    name: CreoBank API Support
    email: api-support@creobank.com
  license:
    name: Apache 2.0
    url: 'https://www.apache.org/licenses/LICENSE-2.0.html'
servers:
  - url: 'https://api.creobank.com/v2'
    description: Production server
paths:
  /register:
    post:
      tags: [User Management]
      summary: Register a new user
      operationId: registerUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewUser'
      responses:
        '201':
          description: User registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
              examples:
                userRegistered:
                  value:
                    id: "12345"
                    message: "User registered successfully."
        '400':
          description: Bad request, invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                missingField:
                  value:
                    code: 400
                    message: "Missing required field: email"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                internalError:
                  value:
                    code: 500
                    message: "Internal server error occurred."
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    OAuth2:
      type: oauth2
      flows:
        password:
          tokenUrl: 'https://api.creobank.com/oauth/token'
          scopes: {}
        clientCredentials:
          tokenUrl: 'https://api.creobank.com/oauth/token'
          scopes: {}
  schemas:
    NewUser:
      type: object
      required:
        - username
        - password
        - email
      properties:
        username:
          type: string
          minLength: 3
          maxLength: 20
          description: The username for the new user
        password:
          type: string
          format: password
          minLength: 8
          description: The password for the new user
        email:
          type: string
          format: email
          description: The email address for the new user
    UserResponse:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for the registered user
        message:
          type: string
          description: A message indicating the registration status
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
          description: The error code
        message:
          type: string
          description: A message describing the error
tags:
  - name: User Management
    description: Endpoints related to user registration, authentication, and management